[submodule "src/c/libraries/paho.mqtt.c"]
	path = src/c/libraries/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
	shallow = true
[submodule "src/c/libraries/paho.mqtt.cpp"]
	path = src/c/libraries/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp
	shallow = true
[submodule "src/c/libraries/json"]
	path = src/c/libraries/json
	url = https://github.com/nlohmann/json
	shallow = true
[submodule "typings/transforms3d"]
	path = typings/transforms3d
	url = https://github.com/bellflight/transforms3d-typings
